.l-page {
  padding-top:37px;
  .pure-g > div {
    @include box-sizing();
  }
}


@media (max-width: 528px) {
  .l-page {
    padding-top:72px;
  }
}
@media (max-width: 432px) {
  .l-page {
    padding-top:107px;
  }
}
